<h1>Convert Code to Pseudocode</h1>

<div style="border-style: inset">
  <div style="padding-left: 20px">
    <form method="post" id="improveCode">
      <label> Enter your Code Below </label>
      <br />
      <textarea name="prompt" style="width: 600px; height: 200px"></textarea>
      <br />
      <p><input type="submit" value="Convert" /></p>
    </form>
  </div>
</div>

<div style="border-style: inset">
  <div style="padding-left: 20px">
    <label>Answer</label>
    <pre style="border: thin solid black"><%=answer%></pre>
    <a href="/improveCode"> make another query</a>
  </div>
</div>
